
.nav-buttons-right{
font-family: 'Kreon', serif;
display: flex;
align-items: center;
justify-content: center;
float: right;
margin: 10px;
color: white;
/* background-color:rgb(38, 50, 56); */
height: 35px;
border-radius: 3px;
border-width: 1px;
border-style: solid;
border-color: rgba(38, 50, 56);
}
.nav-buttons-right > a{
/* margin-right: 10px; */
color: darkblue;
padding: 5px;
text-decoration: none;
font-weight: 500;

}

#user-name{
border-right: white solid 1px;
 color: white;
 font-weight: 500;
 padding: 4px
}
Button{
    color: red;
}