.dropdown {
  display: inline-block;
  margin: 20px;
  color:black;
}
.select-dd{
background-color: white; 
margin-left: 10px;
width: 150px;
height: 30px;
font-size: smaller;
}
.select-dd > *{
    position: relative;
  display: inline-block;
background-color: white; 
margin-left: 10px;
}
.flex{
display: flex;
flex-flow: wrap;

}

.flex div{
/* width: 100px; */
height: 200px;
flex: 30%;
margin: 10px;
align-items: flex-end;
}
.flex img{
/* width: 100px; */
height: 200px;
}